# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
 
series1 = pd.Series(np.random.randint(1, 5, size=100))
series2 = pd.Series(np.random.randint(1, 4, size=100))
series3 = pd.Series(np.random.randint(10000, 30001, size=100))
print(series1.head())
print(series2.head())
print(series3.head())

0    3
1    1
2    3
3    4
4    4
dtype: int32
0    2
1    2
2    1
3    3
4    2
dtype: int32
0    29656
1    26177
2    28303
3    27034
4    14432
dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:

df = pd.concat([series1, series2, series3], axis=1)
df.columns = ['Random_1_to_4', 'Random_1_to_3', 'Random_10000_to_30000']
print(df.head())

   Random_1_to_4  Random_1_to_3  Random_10000_to_30000
0              3              2                  29656
1              1              2                  26177
2              3              1                  28303
3              4              3                  27034
4              4              2                  14432

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [5]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
print(df.head())

   bedrs  bathrs  price_sqr_meter
0      3       2            29656
1      1       2            26177
2      3       1            28303
3      4       3            27034
4      4       2            14432

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [6]:

bigcolumn = pd.DataFrame(pd.concat([series1, series2, series3], axis=0).reset_index(drop=True))

print(bigcolumn.head())

   0
0  3
1  1
2  3
3  4
4  4

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [7]:
print(len(bigcolumn)) 
print(bigcolumn.index)

300
RangeIndex(start=0, stop=300, step=1)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [8]:

bigcolumn = bigcolumn.reset_index(drop=True)

print(bigcolumn.head())

print(bigcolumn.tail())

   0
0  3
1  1
2  3
3  4
4  4
         0
295  13281
296  27907
297  17996
298  25198
299  28700