# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:

baby_names = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")

### Step 4. See the first 10 entries

In [4]:
print(baby_names.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [12]:
baby_names.drop("Unnamed: 0", axis=1 , inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

### Step 6. Is there more male or female names in the dataset?

In [13]:
baby_names.head()

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

### Step 7. Group the dataset by name and assign to names

In [14]:

names = baby_names.groupby('Name').sum()


print(names.head())

                Id    Year                                             Gender  \
Name
Aaban      7733803    4027                                                 MM
Aadan      7158065    8039                                               MMMM
Aadarsh    1728031    2009                                                  M
Aaden    555052225  393963  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
Aadhav      709607    2014                                                  M

                                                     State  Count
Name
Aaban                                                 NYNY     12
Aadan                                             CACACATX     23
Aadarsh                                                 IL      5
Aaden    ALALALALALALALARARARAZAZAZAZAZAZCACACACACACACA...   3426
Aadhav                                                  CA      6

### Step 8. How many different names exist in the dataset?

In [15]:

unique_names_count = baby_names['Name'].nunique()


print(unique_names_count)

17632

### Step 9. What is the name with most occurrences?

In [16]:

most_occurrences_name = baby_names['Name'].mode()[0]

print(most_occurrences_name)

Riley

### Step 10. How many different names have the least occurrences?

In [17]:
least_occurrences = baby_names['Name'].value_counts().min()
names_with_least_occurrences = baby_names['Name'].value_counts().value_counts()[least_occurrences]

print(names_with_least_occurrences)

3682

### Step 11. What is the median name occurrence?

In [18]:
median_occurrence = baby_names['Name'].value_counts().median()

print(median_occurrence)

8.0

### Step 12. What is the standard deviation of names?

In [19]:
std_deviation = baby_names['Name'].value_counts().std()

print(std_deviation)

122.0299635081389

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [20]:
summary = baby_names['Name'].value_counts().describe()

print(summary)

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
Name: count, dtype: float64