# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [8]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [9]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv"
df = pd.read_csv(url)
print(df.head())

         Date  Total Equity  Domestic Equity  World Equity  Hybrid  \
0  2011-10-05         -4002          -4499.0           497 -1354.0
1  2011-10-12         -7397          -5842.0         -1555   512.0
2  2011-10-19         -3292          -3466.0           174  1399.0
3  2011-10-26         -3696          -2998.0          -698  2631.0
4  2011-12-07         -7956          -5761.0         -2196  1089.0

   Total Bond  Taxable Bond  Municipal Bond    Total
0       -5828       -6258.0             430 -11184.0
1        3954        3927.0              28  -2931.0
2        5652        5102.0             550   3759.0
3        4910        4070.0             841   3846.0
4        3523        2068.0            1456  -3343.0

### Step 4.  What is the frequency of the dataset?

In [10]:
df['Date'] = pd.to_datetime(df['Date'])
frequency = df['Date'].diff().mode()[0]


print(f"The frequency of the dataset is: {frequency}")

The frequency of the dataset is: 7 days 00:00:00

### Step 5. Set the column Date as the index.

In [11]:
df.set_index('Date', inplace=True)

print(df.head())

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2011-10-05         -4002          -4499.0           497 -1354.0       -5828
2011-10-12         -7397          -5842.0         -1555   512.0        3954
2011-10-19         -3292          -3466.0           174  1399.0        5652
2011-10-26         -3696          -2998.0          -698  2631.0        4910
2011-12-07         -7956          -5761.0         -2196  1089.0        3523

            Taxable Bond  Municipal Bond    Total
Date
2011-10-05       -6258.0             430 -11184.0
2011-10-12        3927.0              28  -2931.0
2011-10-19        5102.0             550   3759.0
2011-10-26        4070.0             841   3846.0
2011-12-07        2068.0            1456  -3343.0

### Step 6. What is the type of the index?

In [12]:
index_type = type(df.index)
df

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0
...,...,...,...,...,...,...,...,...
2024-11-06,27957,NaN,20850,NaN,20318,NaN,532,NaN
2024-11-13,61535,NaN,54433,NaN,52686,NaN,1747,NaN
2024-11-20,30331,NaN,21694,NaN,21633,NaN,61,NaN
2024-11-26,37433,NaN,29994,NaN,29614,NaN,380,NaN
2024-12-04,27067,NaN,21969,NaN,22465,NaN,-496,NaN

### Step 7. Set the index to a DatetimeIndex type

In [16]:


print(df.columns)


df['Date'] = pd.to_datetime(df['Hybrid'])

Index(['Total Equity', 'Domestic Equity', 'World Equity', 'Hybrid',
       'Total Bond', 'Taxable Bond', 'Municipal Bond', 'Total'],
      dtype='object')

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [19]:
monthly = df.resample('M').sum(numeric_only=True)

print(monthly.head())

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2011-10-31        -18387         -16805.0         -1582  3188.0        8688
2011-11-30             0              0.0             0     0.0           0
2011-12-31        -23657         -16659.0         -6999  2395.0       13817
2012-01-31             0              0.0             0     0.0           0
2012-02-29             0              0.0             0     0.0           0

            Taxable Bond  Municipal Bond   Total
Date
2011-10-31        6841.0            1849 -6510.0
2011-11-30           0.0               0     0.0
2011-12-31        9335.0            4483 -7443.0
2012-01-31           0.0               0     0.0
2012-02-29           0.0               0     0.0

C:\Users\DELL\AppData\Local\Temp\ipykernel_18424\1092414330.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly = df.resample('M').sum(numeric_only=True)

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [20]:
monthly_clean = monthly.dropna()


print(monthly_clean.head())

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2011-10-31        -18387         -16805.0         -1582  3188.0        8688
2011-11-30             0              0.0             0     0.0           0
2011-12-31        -23657         -16659.0         -6999  2395.0       13817
2012-01-31             0              0.0             0     0.0           0
2012-02-29             0              0.0             0     0.0           0

            Taxable Bond  Municipal Bond   Total
Date
2011-10-31        6841.0            1849 -6510.0
2011-11-30           0.0               0     0.0
2011-12-31        9335.0            4483 -7443.0
2012-01-31           0.0               0     0.0
2012-02-29           0.0               0     0.0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [21]:
yearly = monthly_clean.resample('A').sum(numeric_only=True)

print(yearly.head())

            Total Equity  Domestic Equity  World Equity   Hybrid  Total Bond  \
Date
2011-12-31        -42044         -33464.0         -8581   5583.0       22505
2012-12-31        -23929         -22012.0         -1915    785.0        9828
2013-12-31          8052          -5562.0         13615   4180.0      -24460
2014-12-31        -17011         -15124.0         -1887  -6141.0      -14400
2015-12-31        -36337         -25116.0        -11221 -12474.0      -28678

            Taxable Bond  Municipal Bond    Total
Date
2011-12-31       16176.0            6332 -13953.0
2012-12-31       12491.0           -2663 -13316.0
2013-12-31      -14209.0          -10251 -12227.0
2014-12-31      -19014.0            4614 -37552.0
2015-12-31      -34571.0            5893 -77489.0

C:\Users\DELL\AppData\Local\Temp\ipykernel_18424\4258383600.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly = monthly_clean.resample('A').sum(numeric_only=True)

### BONUS: Create your own question and answer it.