# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:

data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t', on_bad_lines='skip')

### Step 4. See the first 10 entries

In [8]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
# Solution 1
num_observations = data.shape[0]

print(f"Number of observations in the dataset: {num_observations}")

Number of observations in the dataset: 4622

In [10]:
# Solution 2

print(f"Number of observations: {len(data)}")

Number of observations: 4622

### Step 6. What is the number of columns in the dataset?

In [11]:

num_columns = data.shape[1]

print(f"Number of columns in the dataset: {num_columns}")

Number of columns in the dataset: 5

### Step 7. Print the name of all the columns.

In [15]:
print("column name: " , data.columns.tolist())

column name:  ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [16]:
print("data index :" , data.index)

data index : RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [17]:

most_ordered_item = data['item_name'].value_counts().idxmax()

print(f"The most ordered item is: {most_ordered_item}")

The most ordered item is: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [18]:

most_ordered_item_count = data.loc[data['item_name'] == most_ordered_item, 'quantity'].sum()

print(most_ordered_item_count)

761

### Step 11. What was the most ordered item in the choice_description column?

In [19]:

most_ordered_choice_description = data['choice_description'].value_counts().idxmax()

print(f"The most ordered item in the choice_description column is: {most_ordered_choice_description}")

The most ordered item in the choice_description column is: [Diet Coke]

### Step 12. How many items were orderd in total?

In [20]:

total_items_ordered = data['quantity'].sum()

print(f"Total number of items ordered: {total_items_ordered}")

Total number of items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [21]:

item_price_type = data['item_price'].dtype

print(f"The type of 'item_price' column is: {item_price_type}")

The type of 'item_price' column is: object

#### Step 13.b. Create a lambda function and change the type of item price

In [22]:

data['item_price'] = data['item_price'].apply(lambda x: float(x.strip('$')))
print(data['item_price'].dtype)

float64

#### Step 13.c. Check the item price type

In [23]:
item_price_type = data['item_price'].dtype

print(f"The type of 'item_price' column is: {item_price_type}")

The type of 'item_price' column is: float64

### Step 14. How much was the revenue for the period in the dataset?

In [25]:

data['revenue'] = data['item_price'] * data['quantity']  

total_revenue = data['revenue'].sum()

print(f"Total revenue for the period: ${total_revenue:.2f}")

Total revenue for the period: $39237.02

### Step 15. How many orders were made in the period?

In [26]:

total_orders = data.shape[0]

print(f"Total number of orders: {total_orders}")

Total number of orders: 4622

### Step 16. What is the average revenue amount per order?

In [27]:
# Solution 1

average_revenue_per_order = data['revenue'].mean()

print(f"Average revenue per order: ${average_revenue_per_order:.2f}")

Average revenue per order: $8.49

In [28]:
# Solution 2


average_revenue_per_order = data['revenue'].mean()

print(average_revenue_per_order)

8.48918649935093

### Step 17. How many different items are sold?

In [29]:

different_items_sold = data['item_name'].nunique()

print(f"Number of different items sold: {different_items_sold}")

Number of different items sold: 50